<html>
<head>
	<title>Flask D3.js Game</title>
	<script type="text/javascript" src="{{ url_for('static', filename='d3.v3.min.js') }}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
	<!- Meta data, Tracking Codes and Analyitics>
	{% include "game/global_functions.html" %}
	{% include "game/GA_Tracking_Code.html" %}
<body>
	<script>
	//adding global variables, for troubleshooting and access within various scripts
	var charData = {{charData | safe}};
		console.log(charData);
	var currentLocation = charData['location']
	var mapData = {{mapData | safe}};
		console.log(mapData);
	var terrData = {{terrData | safe}}
		console.log(terrData)
	var spreadTypes = {{spreadTypes | safe}}
	</script>

	<!- Simple Objects and Core Functionality ->
	
	{% include "game/home_screen.html" %}
	{% include "game/text_window.html" %}
	{% include "game/activity_map_boarder.html" %}
	
	<!- Objects that have complex interaction ->
	
	{% include "game/character.html" %}
	{% include "game/terrain_textures.html" %}
	
	<!- Scripts that govern interaction between objects->
	
	{% include "game/terrain_char_interaction.html" %}

</body>
</html>
